*{
	padding: 0;
	margin: 0;
}

#root{
	background-color: magenta;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button{
	height: 100px;
	width: 200px;
	text-align: center;
	font-family: Arial;
	line-height: 25px;
	font-size: 25px;
	user-select: none;
	cursor: pointer;
	background-color: red;
	border-radius:25%;
	display: inline;
	color: white;
}

.button:hover{
	background-color: pink;
}

#circle{
	height: 400px;
	width: 400px;
	border-radius: 50%;
	background-color: red;
	z-index: ;
}

