*{
	padding: 0;
	margin: 0;
}

#root{
	background-color: magenta;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
}

#background{
	height: 100vh;
	width: 100vw;
	background-color: magenta;
	z-index: -4;
}

#question{
	background-color: white;
	width: 50px;
	height: 50px;
	z-index: 10;
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	margin: 5px;
}

img{
	height: 100vh;
	transform: rotate(90deg);
}

#description{
	
}